body, h1, h2, h3, h4, h5
    font-family: "OpenSans", "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif
    font-weight: 400

a
    cursor: pointer

.row
    width: 100%

form.custom
    margin: 0
    padding: 0

#top
    line-height: 45px
    background: url('../images/subtle_carbon.png')
    border-top: 5px solid #2ba6cb
    vertical-align: bottom
    margin: 0 0 15px 0
    
    a.name
        color: #FFF
        font-weight: 800
        font-size: 19px
        
        &:hover
            color: #2795B6
    
    a#today
        margin: 8px 0 0 0
        height: 26px
    
    input
        margin: 7px 0 0 0

ul
    list-style-type: none
    
    li.month
        width: 33%
        display: inline-block
        
        h3
            font-size: 16px
            line-height: 16px
            padding: 0
            font-weight: normal
            margin: 5px 0

#tags
    ul
        position: relative
        padding-top: 50px

        li.tag
            &.level0 a
                color: #f1eef6
            &.level1 a
                color: #d0d1e6
            &.level2 a
                color: #a6bddb
            &.level3 a
                color: #74a9cf
            &.level4 a
                color: #3690c0
            &.level5 a
                color: #0570b0
            &.level6 a
                color: #034e7b

    .functions
        font-size: 12px
        position: absolute
        top: 0
        left: 0

#calendar table
    border: 0
    
    tr td
        border: 1px solid #FFF
        width: 20px
        height: 16px
        font-size: 11px
        color: #333
        text-align: center
        padding: 0
        
        &.day
            background: #F2F2F2
            cursor: pointer
            
            &.empty
                color: lighten(#333, 75%)
                background: lighten(#F2F2F2, 75%)
            &.selected
                font-weight: bold
            &.level0
                background: #f1eef6
            &.level1
                background: #d0d1e6
            &.level2
                background: #a6bddb
            &.level3
                background: #74a9cf
                color: #FFF
            &.level4
                background: #3690c0
                color: #FFF
            &.level5
                background: #0570b0
                color: #FFF
            &.level6
                background: #034e7b
                color: #FFF

#entry h3 span
    color: #BBB